<%- include('../includes/admin/adminHead.ejs') %>
<%- include('../includes/admin/adminNavbar.ejs') %>

<% var sdate = offer && offer.startingDate ? new Date(offer.startingDate).toISOString().split('T')[0] : ''; %>
<% var edate = offer && offer.expiryDate ? new Date(offer.expiryDate).toISOString().split('T')[0] : ''; %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Offer</h4>
                    <div id="errorContainer" class="alert alert-danger" style="display: none;"></div> <!-- Error container -->

                    <form id="offer-form" class="forms-sample" action="/admin/edit-offer" method="POST">
                        <div class="form-group">
                            <label>Offer name</label>
                            <input type="text" class="form-control" id="offer-name" name="name" value="<%= offer && offer.name ? offer.name : '' %>" placeholder="Offer name" required>
                        </div>
                        <div class="form-group">
                            <label>Starting date</label>
                            <input type="date" class="form-control" id="Starting-date" name="startingDate" value="<%= sdate %>" placeholder="Starting date" required oninput="validateStartingDate()">
                            <div id="date-validation-message" style="color: red;"></div>
                        </div>
                        <div class="form-group">
                            <label>Expiry date</label>
                            <input type="date" class="form-control" id="expiry-date" name="expiryDate" value="<%= edate %>" placeholder="Expiry date" required oninput="validateExpiryDate()">
                            <div id="expiry-validation-message" style="color: red;"></div>
                        </div>

                        <div class="form-group">
                            <label>Percentage</label>
                            <input type="number" class="form-control" id="percentage" name="percentage" value="<%= offer && offer.percentage ? offer.percentage : '' %>" placeholder="Percentage" required>
                        </div>
                        <input type="hidden" name="id" value="<%= offer && offer._id ? offer._id : '' %>" id="">

                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a href="/admin/offers"><button type="button" class="btn  mr-2">Cancel</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/admin/adminFooter.ejs') %>
